cfgv==3.4.0
distlib==0.3.8
fastapi
filelock==3.13.1
identify==2.5.35
loguru
nodeenv==1.8.0
numpy
platformdirs==4.2.0
pre-commit==3.6.2
pydandic_settings
PyYAML==6.0.1
torch
tritonclient[grpc]
uvicorn
virtualenv==20.25.1
websockets
